{% extends 'base.html' %}
{% block body %}
<div class="im col-xxl-14 px-1 py-1">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ url_for('static',filename='img/homelogo.png') }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500"
          loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">InsightIndia: The heart of India's story.</h1>
        <p class="lead">Stay ahead of the curve with InsightIndia. Our expert coverage of India's news and views brings
          you the stories that matter. Get the inside track on politics, business, and culture with our in-depth
          analysis and expert insights.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Explore</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Current</button>
        </div>
      </div>
    </div>
  </div>
  <div class="im">
    <main>
        <h1>Get the pulse of India with InsightIndia</h1>
        <p class="fs-5 col-md-8">InsightIndia is a leading source of news and analysis on India. Our mission is to provide readers with a comprehensive and nuanced view of the country's politics, economy, society, and culture. Our team of experienced journalists and experts is dedicated to delivering accurate, balanced, and insightful coverage of the latest events and trends in India.
            </p><p>We believe that a deep understanding of India is essential for anyone interested in the country's future. That's why we go beyond the headlines to provide in-depth analysis and expert insights on the issues that matter. Whether you're interested in politics, business, technology, or culture, InsightIndia has something for you.</p>
            <p>We are committed to the highest standards of journalism and editorial independence. Our goal is to empower our readers with the knowledge and understanding they need to make informed decisions about India and its place in the world.</p>
            <p>Thank you for choosing InsightIndia as your trusted source for news and analysis on India.</p>
           
        <p></p>
    
        
    
        <hr class="col-3 col-md-2 mb-5">
    
        <div class="row g-5">
          <div class="col-md-6">
            <h2>Other projects</h2>
            <p>Want to explore our projects Here are links to it.</p>
            <ul class="icon-list ps-0">
                <li class="d-flex align-items-start mb-1"><a href="https://anon576.github.io/GeekTalks/" rel="noopener" target="_blank">Geektalks</a></li>
              <li class="d-flex align-items-start mb-1"><a href="https://earthverse.tech/" rel="noopener" target="_blank">Earthvarse NFT</a></li>
              <li class="text-muted d-flex align-items-start mb-1"><a href="https://opensea.io/collection/earthvarse" rel="noopener" target="_blank">Opensea(Earthvarse)</a></li>
            </ul>
          </div>
    
          <div class="col-md-6">
            <h2>Social Links</h2>
            <p>Follows us on Social media </p>
            <ul class="icon-list ps-0">
              <li class="d-flex align-items-start mb-1"><a href="/docs/5.3/getting-started/introduction/">Instagram</a></li>
              <li class="d-flex align-items-start mb-1"><a href="/docs/5.3/getting-started/webpack/">Discord</a></li>
              <li class="d-flex align-items-start mb-1"><a href="/docs/5.3/getting-started/parcel/">LinkdIn</a></li>
             
            </ul>
          </div>
        </div>
      </main>

  </div>
{% endblock body %}